body{
    background-color:GhostWhite;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    padding: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.4);
    border-bottom:  1px solid #fff;
}
nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover{
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
}

h1{
    color: black;
    margin-left: 46%;
}

div.galeria{
    margin: 10px 70px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 350px;
    text-align: center;
}

div.galeria img{
    width: 350px;
    height: 265px;
}

div.galeria:hover{
    bottom:1px solid lightcoral;
    transform: rotate(-deg);
}

#titulo{
    text-align: center;
}
